catexamp::before {
  display: inline;
  content: "|";
  padding-right: 3pt;
  font-size: 8pt;
  font-style: italic;
  text-decoration: none
}

engexamp::before {
  display: inline;
  text-decoration: none;
  content: "-";
  padding-right: 3pt;
}

catexamp {
  display: inline;
  font-weight: bold;
  text-decoration: none
}

engexamp {
  display: inline;
  font-style: italic;
  text-decoration: none;
}