.entry	 {
			Font-Family : Comic Sans MS ;
			Color : #000066 ;
			font-weight: bold
		}
.beforenoun	 {
			Color : black ;
			Font-Style : Italic
		}
.sourceplural	 {
			Font-Family : Comic Sans MS ;
			Color : #000066
		}
.capitalized	 {
			Font-Family : Comic Sans MS ;
			Color : #000066
		}
.pos	 {
			Font-Family : Comic Sans MS ;
			Font-Size : Smaller ;
			Font-Style : Italic
		}
.register	 {
			Color : black ;
			Font-Style : Italic
		}
.local	 {
			Color : black ;
			Font-Style : Italic
		}
.conj	 {
			Font-Size : Smaller
		}
.phr	 {
			Font-Family : Comic Sans MS ;
			Color : #000066
		}
.category	 {
			Font-Size : Smaller
		}
.etoggle	 {
			Font-Size : Bigger     ;
			Font-Style : Bold     ;
			Font-Family : Comic Sans MS ;
			Color : #000066
		}
.note	 {
			Margin-Bottom : 0px      ;
			Margin-Top : 0px      ;
			Padding-Bottom : 0px      ;
			Padding-Left : 0px      ;
			Padding-Right : 0px      ;
			Padding-Top : 0px      ;
			Margin-Left : 0px ;
			Margin-Right : 0px ;
			Font-Family : Comic Sans MS ;
			Font-Size : Smaller ;
			Background-Color : #E4E4E4
		}
.translation	 {
			Padding-Bottom : 0pt    ;
			Padding-Left : 4pt    ;
			Padding-Right : 0pt    ;
			Padding-Top : 0pt    ;
			Font-Family : Comic Sans MS ;
			text-decoration: underline
		}
.examp	 {
			Font-Family : Comic Sans MS ;
			Font-Size : Smaller
		}