
@page:right {
    size: A4;
    margin: 15mm 10mm;
    padding: 5mm 0;
    column-count: 2;
    column-gap: 20;
    
    @top-right {
	content: string(termstr, first) " - " string(termstr, last);
	font-size: 10pt;
	text-align: outside;
	vertical-align: bottom;
	border-bottom: solid black thin;
	padding-bottom: 2mm
    }
    
    @top-left {
	content: "DACCO : The Open Source English-Catalan Dictionary";
	font-size: 10pt;
	text-align: inside;
	vertical-align: bottom;
	border-bottom: solid black thin;
	padding-bottom: 2mm
    }
    
    @bottom-left {
	content: counter(page);
	font-size: 10pt;
	text-align: inside;
	border-top: solid black thin
    }
    
    @bottom-right {
	content: "DACCO - http://catalandictionary.org";
	font-size: 10pt;
	text-align: outside;
	border-top: solid black thin
    }
    
}

@page:left {
    size: A4;
    margin: 15mm 10mm;
    padding: 5mm 0;
    column-count: 3;
    column-gap: 20;
    
    @top-right {
	content: "DACCO : The Open Source English-Catalan Dictionary";
	font-size: 10pt;
	text-align: inside;
	vertical-align: bottom;
	border-bottom: solid black thin;
	padding-bottom: 2mm
    }
    
    @top-left {
	content: string(termstr, first) " - " string(termstr, last);
	font-size: 10pt;
	text-align: outside;
	vertical-align: bottom;
	border-bottom: solid black thin;
	padding-bottom: 2mm
    }
    

    @bottom-left {
	content: "DACCO - http://catalandictionary.org";
	font-size: 10pt;
	text-align: outside;
	border-top: solid black thin
    }
    
    @bottom-right {
	content: counter(page);
	font-size: 10pt;
	text-align: inside;
	border-top: solid black thin
    }
    
}


@page cover {
    @top { content: normal }
    @bottom { content: normal }
}

cover {
    display: block;
    page: cover
}

edition {
    display: block;
    text-align: center;
    font: bold 14pt serif;
    page-break-after: always;
    page: cover
}

title {
    display: block;
    text-align: center;
    font: bold 24pt serif;
    page: cover
}
subtitle {
    display: block;
    text-align: center;
    font: bold 8pt serif;
    page: cover
}

Entry {
  display: block;
  page-break-inside: avoid;
  counter-reset: trans 0

}

b {

font-weight: bold}

headword {
    display: inline;
    page-break-after: avoid;
    margin-top: 2em;
    font-weight: bold;
    font-family: sans-serif;
    string-set: termstr content()
}

subhead::before {
    display: block;
}

subhead {
    display: inline;
    page-break-after: avoid;
    margin-top: 2em;
    margin-left: 2mm;
    font-weight: bold;
    font-family: sans-serif;
    string-set: termstr content()
}

phrasalverbs::before {
	display: block;
	counter-reset: trans 0
}

nouns::before {
	display: inline;
	content: "nom";
	font-size: 6pt;
	  counter-reset: trans 0
	}


adjectives::before {
	display: inline;
	content: "adjectiu";
	font-size: 6pt;
	  counter-reset: trans 0
	}
	
	subhead::after {
	display: inline;
	content: "v. comp.";
	font-weight: normal;
	font-size: 6pt;
	  counter-reset: trans 0
	}
	adverbs::before {
	display: inline;
	content: "adverbi";
	font-size: 6pt;
	  counter-reset: trans 0
	}
	
	pronouns::before {
	display: inline;
	content: "pronom";
	font-size: 6pt;
	  counter-reset: trans 0
	}
	
	conjunctions::before {
	display: inline;
	content: "conj";
	font-size: 6pt;
	  counter-reset: trans 0
	}
	
	prepositions::before {
	display: inline;
	content: "prep";
	font-size: 6pt;
	  counter-reset: trans 0
	}
	
	expressions::before {
	display: inline;
	content: "express";
	font-size: 6pt;
	  counter-reset: trans 0
	}
	
	verbs::before {
	display: inline;
	content: "verb";
	font-size: 6pt;
	  counter-reset: trans 0
	}
	
	exclamations::before {
	display: inline;
	content: "exclamació";
	font-size: 6pt;
	  counter-reset: trans 0
	}
	
	conjunctions::before {
	display: inline;
	content: "conjunció";
	font-size: 6pt;
	  counter-reset: trans 0
	}
translations {
	display: inline;
	    text-decoration:none;
  page-break-inside: avoid;
  }

translations::after {
	display: block;
	content: "";
	counter-reset: trans 0
  }


translation:not(:only-of-type)::before{
    text-underline-style: none;
    font-size:8pt;
    font-family: serif; 
    display: inline;
    text-decoration:none;
    content: counter(trans)
}



translation{
	display none;
	  counter-increment: trans 1;
}

gender{
	font-size: 8pt;
}

equiv{
    text-underline-style: solid;
    font-size:12pt;
    font-family: serif; 
    display: inline;
  
}

catnote {
    display: block;
        font-size:10pt;
    text-decoration:none;
    background: lightgray;
    margin-top: 0.1em;
    margin-bottom: 0.2em;
    margin-left: 0.5em;
    border-bottom: solid black thin;
    border-top: solid black thin;
    border-right: solid black thin;
     border-left: solid black thin;
}

engnote {
	display: none;
}

fems {
  display: none;
}
  
plural {
  display: none;
}
  
femplural {
  display: none;
}


catexamp {
    display: inline;
    font-style: italic;
    text-decoration: none
}

catexamp::before {
    display: inline;
    content: "-";
    	padding-right: 1;
    font-size:8pt;
    text-decoration: none
}

transexamp {
	font-size: 10pt;
	page-break-inside: avoid;
	text-decoration: none;
	display: inline;
}

example::before {
   display: block;
}

example {
    display: block; 
    font-size:8pt; font-style:italic;
    text-decoration: none;
    margin-left: 0.5cm;
}





engexamp::before {
	display: inline;
	text-decoration: none;
	content: "|";
	padding-right: 1;
}

engexamp {
    display: inline;
    font-weight: bold;
    text-decoration: none;
}


synonyms{
	display: none;
}

*[register^="formal"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[formal]";
	padding-right: 1
}

*[register^="dialect"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[dialecte]";
	padding-right: 1
}

*[register^="slang"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[argot]";
	padding-right: 1
}

*[register^="colloquial"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[col·loquial]";
	padding-right: 1
}

*[register^="dated"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[arcaic]";
	padding-right: 1
}

*[register^="colloquial"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[col·loquial]";
	padding-right: 1
}


*[register^="vulgar"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[vulg.]";
	padding-right: 1
}



*[disambiguate^="work"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[treb.]";
	padding-right: 1
}

*[disambiguate^="sports"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[esport]";
	padding-right: 1
}

*[disambiguate^="transport"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[trans.]";
	padding-right: 1
}

*[disambiguate^="medical"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[med.]";
	padding-right: 1
}

*[disambiguate^="religious"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[rel.]";
	padding-right: 1
}

*[disambiguate^="body"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[anat.]";
	padding-right: 1
}

*[disambiguate^="animal"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[animal]";
	padding-right: 1
}

*[disambiguate^="geography"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[geog.]";
	padding-right: 1
}

*[disambiguate^="linguistics"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[ling.]";
	padding-right: 1
}

*[disambiguate^="language"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[llengua]";
	padding-right: 1
}

*[disambiguate^="nationality"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[nacion.]";
	padding-right: 1
}

*[disambiguate^="country"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[país]";
	padding-right: 1
}

*[disambiguate^="food"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[menj.]";
	padding-right: 1
}

*[disambiguate^="politiics"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[pol.]";
	padding-right: 1
}

*[disambiguate^="plants"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[plantes]";
	padding-right: 1
}

*[disambiguate^="financial"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[econ.]";
	padding-right: 1
}

*[disambiguate^="weather"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[met.]";
	padding-right: 1
}

*[disambiguate^="family"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[fam.]";
	padding-right: 1
}

*[disambiguate^="education"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[enseny.]";
	padding-right: 1
}

*[disambiguate^="computers"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[comp.]";
	padding-right: 1
}

*[disambiguate^="colours"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[color]";
	padding-right: 1
}

*[disambiguate^="zodiac"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[zodíac]";
	padding-right: 1
}

*[register^="formal"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[formal]";
	padding-right: 1
}

*[register^="dialect"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[dialecte]";
	padding-right: 1
}

*[register^="slang"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[argot]";
	padding-right: 1
}


*[register^="dated"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[passat de moda]";
	padding-right: 1
}

*[register^="colloquial"]::before{
	text-decoration: none;
	font-size: 6pt;
	content: "[col·loquial]";
	padding-right: 1
}
date {
	display: none;
}

letter {
	font-size: 32pt;
	display: block;
	text-align: center;
	padding-top: 3;
		border-top: solid black thin;
	text-transform: uppercase;
}

all {
 column-count: 2;
    column-gap: 40;
    column-rule: solid black thin;
}	
	
